<tr class="dni">
  <td class="value"><%=h dni.value %></td>
  <td>
    <%= link_to image_tag('icons/application_delete.png',
      :alt => 'Eliminar', :title => 'Eliminar'), dni,
      :confirm => 'Estás seguro?', :method => :delete %>
  </td>
</tr>

