<div class="admin_bar">
  <%= link_to_unless_current "tests", tests_path, :class => 'button' %>
  <%= link_to_unless_current "dnis", dnis_path, :class => 'button' %>
  <%= link_to_unless_current "usuarios", users_path, :class => 'button' %>
</div>
