<div>
  <input type='file' name='test[image_files][]' class='text' size='30' />&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
	&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
  <a href="#" class="button" onclick="; $(this).parent().remove(); return false" style="float:none; display:inline">
    <img src="/images/icons/delete.png" />Eliminar
  </a>
</div>
